# Introduction ðŸ“–

"**Heart attacks**" are a serious health issue worldwide". The aim of this analysis is building a model that predicts the likelihood of someone having a heart attack using data analysis and machine learning. **The goal of this analysis** is to help individuals understand their risk and take preventive actions, ultimately reducing heart attack cases and saving lives.

---------------------------------------
<a class="anchor"  id="1"></a>
# 1- Import Libraries ðŸ“š

In [4]:
# EDA Libraries
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.figure_factory as ff
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import seaborn as sns
import matplotlib.pyplot as plt
import visuals as vs

# Data Preprocessing Libraries
from datasist.structdata import detect_outliers
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Machine Learing (classification models) Libraries
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
import xgboost as xgb
from sklearn.model_selection import GridSearchCV

ModuleNotFoundError: No module named 'visuals'

-------------------
<a class="anchor"  id="2"></a>
# 2- Data Exploration

In [2]:
df = pd.read_csv('heart.csv')
df.sample(10)

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
199,65,1,0,110,248,0,0,158,0,0.6,2,2,1,0
235,51,1,0,140,299,0,1,173,1,1.6,2,0,3,0
278,58,0,1,136,319,1,0,152,0,0.0,2,2,2,0
236,58,1,0,125,300,0,0,171,0,0.0,2,2,3,0
193,60,1,0,145,282,0,0,142,1,2.8,1,2,3,0
116,41,1,2,130,214,0,0,168,0,2.0,1,0,2,1
103,42,1,2,120,240,1,1,194,0,0.8,0,0,3,1
129,74,0,1,120,269,0,0,121,1,0.2,2,1,2,1
173,58,1,2,132,224,0,0,173,0,3.2,2,2,3,0
48,53,0,2,128,216,0,0,115,0,0.0,2,0,0,1

### Featureset Exploration

- **Age**: The patient's age. (Continuous)
- **Sex**: The patient's gender (0 for female, 1 for male). (Categorical)
- **Chest Pain Type (cp)**: (Categorical)
    - Value 0: Typical Angina 
    - Value 1: Atypical Angina 
    - Value 2: Non-Anginal Pain 
    - Value 3: Asymptomatic

------------------
# 5- Data Preprocessing âš’ï¸

In [3]:
vs.distribution(df)

NameError: name 'vs' is not defined